<div class='flex items-center justify-center w-screen h-screen'>
  <div class='card card-border max-w-sm w-80'>
    <figure>
      <img src="/totaling.png" alt="Brand Logo" class="w-full object-cover">
    </figure>
    <div class='card-body'>
      {{> (getInsidePartial) }}
    </div>
  </div>
</div>
<script src='/auth.js'></script>
