<label for='emailAuth'>Input your email</label>
<input
  id='emailAuth'
  type='text'
  placeholder='Ex. marko.horvat@mail.com'
  class='input'
/>
<a href='/credentials' class='mt-2'>
  <button
    class='btn btn-primary w-full'
    onclick='addEmailToLocalStorage()'
  >Continue</button>
</a>
