<form onsubmit='event.preventDefault(); addEmailToLocalStorage(); window.location.href="/credentials";'>
    <label for='emailAuth'>Input your email</label>
    <input id='emailAuth'
           type='text'
           placeholder='Ex. marko.horvat@mail.com'
           class='input' />
    <button type='submit' class='btn btn-primary w-full mt-2'>Continue</button>
</form>
